/* Colors used: Green (#009B4D), tangerine yellow (#FFCC00), ivory (#FAF5E9)
 */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/* -------- LANDING section START ----------------- */
.banner {
  padding-top: 12rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
}

.intro-text-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-text-fill-color: rgb(250, 245, 233);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 155, 77);
  font-size: 1.25rem;
  line-height: 30px;
}

.personalDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.intro-text-learnMore {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.learnMore-text {
  margin-bottom: 2.5rem;
}

/* ---------- Animated Background container -------- */
.background-animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* --------------------------------------------------- */

/* -------- Home page Arrow Down (from Learn More) & animation ---------- */
.learnMore-arrows {
  position: relative;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  z-index: -1;
}

@keyframes arrowDown {
  0% {
    border-color: white;
    transform: translate(0, 0);
  }
  40% {
    border-color: white;
    transform: translate(15px, 15px);
  }
  40.1%,
  100% {
    border-color: #ffd64a;
  }
}

.learnMore-arrows span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: arrowDown 1s linear infinite;
}

.learnMore-arrows span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}
.learnMore-arrows span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}
.learnMore-arrows span:nth-child(3) {
  top: 0;
  left: 0;
  animation-delay: 0.4s;
}
/* ----------- End of learn more Arrow Down CSS and animation ------- */

/* -------- END of LANDING section ------------ */

/* -------- START of SKILLS section ---------- */

.skills-section {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1.8rem;
}

.myImage-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myImage {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 40px;
}

.skills-text-container {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  flex: 1;
  min-height: 100%;
}

.skills-squares-area ul {
  display: flex;
  align-content: flex-start;

  flex-wrap: wrap;
  max-width: 500px;
}

.skills-squares-area li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: royalblue;
  position: relative;
  min-width: 25%;
  font-size: 0.9rem;
}

.skills-squares-area li:hover::after {
  content: attr(aria-label);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  white-space: nowrap;
  padding: 0.2rem;
  z-index: 1;
  animation: square-fadein 1s linear forwards;
}
@keyframes square-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.skills-squares-area li[aria-label="Markup"]:hover::after {
  background-color: rgb(193, 56, 224);
}

.skills-squares-area li[aria-label="Styling"]:hover::after {
  background-color: rgb(228, 161, 172);
}

.skills-squares-area li[aria-label="Scripting"]:hover::after {
  background-color: green;
}

.skills-squares-area li[aria-label="Frontend"]:hover::after {
  background-color: orange;
}

.skills-squares-area li[aria-label="Database"]:hover::after {
  background-color: rgb(96, 193, 74);
}

.skills-squares-area li[aria-label="Backend"]:hover::after {
  background-color: black;
}

.skills-squares-area li[aria-label="Version Control"]:hover::after {
  background-color: olive;
  padding: 0 0.5rem;
}

.skills-squares-area li[aria-label="Methodology"]:hover::after {
  background-color: red;
  padding: 0 0.5rem;
}

.skills-squares-area li[aria-label="Spreadsheets"]:hover::after {
  background-color: #d3b085;
  padding: 0 0.5rem;
}

#title-small-bio {
  padding-bottom: 1rem;
}

#small-text-bio {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  word-wrap: break-word;
}

/* -------- END of SKILLS section ------------ */

/* -------- START of CHAT section ---------- */

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.myEmail {
  text-decoration: none;
  color: rgb(0, 155, 77);
  font-weight: 600;
}

.button-snorlax-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.snorlax {
  height: 12rem;
}

.talk-button a {
  color: white;
  text-decoration: none;
}

.talk-button {
  border: none;
  border-radius: 10px;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: rgb(65, 105, 225, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  box-shadow: ;
}

.talk-button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 3px solid royalblue;
  border-radius: 10px;
}

.talk-button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 1s;
}

.talk-button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.talk-button:hover {
  color: white;
}

.talk-button:active span::before {
  background: #2751cd;
}

/* -------- END of CHAT section ------------ */

/* -----!!!!!!!!!!!!!!!!!!---- MEDIA QUERIES ----!!!!!!!!!!-------- */
/* grow up to 200px x 218px */
@media (min-width: 235px) and (max-width: 373px) {
  .myImage {
    max-width: 200px;
    max-height: 218px;
    padding-bottom: 2rem;
  }
}

/* grow to 300px x 390px */
@media (min-width: 374px) and (max-width: 480px) {
  .myImage {
    max-width: 250px;
    max-height: 390px;
    padding-bottom: 2rem;
  }

  .talk-button {
    display: flex;
    justify-content: center;
    width: 1rem;
    border-radius: 10px;
  }
}

/* fixed size from 481px to 779px */
@media (min-width: 481px) and (max-width: 779px) {
  .myImage {
    max-width: 370px;
    max-height: auto;
    padding-bottom: 2rem;
  }
}

/* turns flex-direction row, image to the side,  shrinks then grow to 207px x 224px */
@media (min-width: 780px) and (max-width: 5000px) {
  .myImage-container {
    width: 40%;
    max-width: 350px;
    padding-right: 2rem;
    flex: 0 0 auto;
  }

  .skills-image-bio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .skills-squares-area {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .skills-squares-area li {
    margin: 0 0.5rem 1rem 0;
  }
}
/* -------- END of media queries ------------ */
