* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .navbar-container {
  background-color: #3a3a3a;
  width: 100vw;
  height: 10vh;
  display: flex;
}

.logo-container {
  width: 50vw;
}
*/
.logo-image {
  width: 40%;
  height: auto;
}

/* hamburguer button/menu */
nav {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: blue;
  border-radius: 10px;
}

.menu {
  width: 50%;
  height: 100vh;
  background-color: grey;
  top: 0;
  right: 0;
  z-index: -1;
  text-decoration: none;
}

/* ------ sliding menu --------- */
.hidden {
  display: none;
}

.visible {
  display: inherit;
  z-index: 100;
}

/* ------- animations ------------ */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-1.1em, 1.8em);
  transition: ease-out 0.5s;
}
/* unclicked hamburguer menu */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
