* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 6em;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 10;
}

.logoContainer {
  width: 40vw;
  height: 6em;
}

.logoImage {
  height: 40%;
  width: auto;
  align-items: center;
}

/* this is for the hamburger itself */
.hamburger-react {
  margin-right: 2em;
  z-index: 11;
}

/* ------ Media queries for the toggles Language and Theme ---------*/

/* ------- Hamburger Menu ------- */

.menu {
  background-color: grey;
  height: 100vh;
  position: absolute;
  top: 6em;
  right: 0;
  padding-top: 6em;
  box-shadow: -100vw 0 0 100vw rgba(89, 79, 79, 0.7);
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0; /*to delete existing padding from the balls on the ul*/
  padding-left: 2rem;
  padding-right: 2rem;
}

.menu li {
  padding-bottom: 2rem;
}

.link {
  font-size: 1.3rem;
  color: black; /* or any other contrasting color */
  text-decoration: none; /* remove default text decoration (underline) */
}

.link:hover {
  color: blue; /* set color for hover state */
}

.link:focus {
  outline: none; /* remove purple color focus outline */
}

.link:active {
  color: green; /* set color for active/clicked state */
}
